{% macro nav(name) %}
<div id="menu-nav">
    <ul role="menu-bar" class="menu">
        {% if name == 'home' %}
        <a role="menu-item" tabindex="0" href="/" class="menu-toggled">
        {% else %}
        <a role="menu-item" tabindex="0" href="/">
        {% endif %}
            Home
        </a>
        <li role="menu-item" tabindex="0" aria-haspopup="true" aria-disabled="true">
            Profile
            <ul role="menu" aria-disabled="true">
                <li role="menu-item"><a href="#">Nothing here yet</a></li>
            </ul>
        </li>
        {% if name == 'stats' %}
        <a role="menu-item" tabindex="0" href="/stats" class="menu-toggled">
        {% else %}
        <a role="menu-item" tabindex="0" href="/stats">
        {% endif %}
            Stats
        </a>
        {% if name == 'leaderboard' %}
        <a role="menu-item" tabindex="0" href="/leaderboard" class="menu-toggled">
        {% else %}
        <a role="menu-item" tabindex="0" href="/leaderboard">
        {% endif %}
            Leaderboard
        </a>
        <!-- {% if name == 'vote' %}
        <a role="menu-item" tabindex="0" href="/vote" class="menu-toggled">
        {% else %}
        <a role="menu-item" tabindex="0" href="/vote">
        {% endif %}
            Vote
        </a> -->
    </ul>
    <ul role="menu-bar" class="menu">
    {% if name == 'admin' %}
        <a role="menu-item" tabindex="0" href="/admin" class="menu-toggled">
        {% else %}
        <a role="menu-item" tabindex="0" href="/admin">
    {% endif %}
        Admin
        </a>
        <a role="menu-item" tabindex="0" onclick="" href="/logout">Sign Out</a>
    </ul>
</div>
{% endmacro %}