.horizontal-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    height: 100%;
    width: 100%;
}
.horizontal-inputs>input {
    height: 100%;
}

.admin-window {
    padding: 1em;
}

.all-controls {
    display: flex;
}

.all-prompts {
    display: flex;
    flex-direction: column;
}

.add-prompt {
    margin-top: 1em;
}