#invite-table { 
    margin-top: 1em;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#invite-table>thead>tr>* {
    /* font-weight: bolder; */
    text-align: center;
    border-bottom: 1px solid black;
}

#invite-table>tbody>tr>td:nth-child(1) {
    width: 10px;
    overflow-wrap: break-word;
}

#invite-table>tbody>tr>td:nth-child(2) {
    padding: 1em;
    max-width: 100px;
    overflow-wrap:break-word;
}

#invite-table>tbody>tr>td:nth-child(3) {
    width: 100px;
    overflow-wrap: break-word;
}

.horizontal-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    height: 100%;
    width: 100%;
}
.horizontal-inputs>input {
    height: 100%;
}

.admin-window {
    padding: 1em;
}

.all-controls {
    display: flex;
}

.all-prompts {
    display: flex;
    flex-direction: column;
}

.add-prompt {
    margin-top: 1em;
}

.strikeout>td {
    text-decoration: line-through;
}

.usr-actions {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

td:has(.usr-actions) {
    width: 5px;
    text-align: center;
}
