#bingo-core-game {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: auto auto;
    max-width: 69rem;
}

#bingo-window {
    padding: 1em;
}

#bingo-table {
    /* margin-top: 1vh; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

#bingo-table>div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 1em;
    cursor: pointer;
}

#bingo-table>div:hover {
    /* background: var(--secondary);
    color: var(--primary);
    outline: none; */
    text-decoration: underline;
}

#bingo-action {
    margin-top: 1vh;
}

#bitbingo-text {
    padding: 1em;
}

.separator {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.checked-prompt {
    background-image: url("./checkmark.svg");
}

.checked-prompt:hover {
    text-decoration: underline;
}