{% from 'macros/nav.html' import nav %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BitBingo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
    <link href="{{ url_for('static', path='/static/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/static/root.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/static/admin.css') }}" rel="stylesheet">
</head>
<body>

    {{ nav('admin') }}

    <div class="title-bar">
        {% if alert is defined %}
        <h1 class="title" id="result">{{alert}}</h1>
        {% else %}
        <h1 class="title" id="result"></h1>
        {% endif %}
    </div>

    <div class="all-controls">
        <section class="left-controls">
            <div class="window admin-window" style="width:30rem">
                <span>Essential Controls</span>
                <div class="horizontal-inputs" style="margin-top:1em">
                    <button class="btn btn-default" onclick="startNewGame()">Start New Game</button>
                    <button class="btn" disabled>Reset Current Game</button>
                </div>
            </div>
            <div class="window admin-window" style="width:30rem">
                <span>Bingo Size</span><br>
                <sub>New changes will be in play from next bingo game</sub><br>
                <div class="field-row" style="margin-top:0.5rem">
                    <input id="radio-3by3" type="radio" name="radio-grid" checked="true" onclick="changeGrid(3)">
                    <label for="radio-3by3">3x3 Grid (8 prompts + 1 free)</label>
                </div>
                <div class="field-row">
                    <input id="radio-4by4" type="radio" name="radio-grid" onclick="changeGrid(4)">
                    <label for="radio-4by4">4x4 Grid (15 prompts + 1 free)</label>
                </div>
                <sub>If you change this field mid-game, it's highly recommended you start a new game. The win mechanism
                    uses a different bitmap algorithm based on whether its 3x3 or 4x4
                </sub>
            </div>
            <div class="window admin-window" style="width:30rem">
                <form name="createuserinvite" method="post" action="/createinvite">
                    <span>Invite a User to the Game</span><br><br>
                    <div class="horizontal-inputs">
                        <input style="padding:1rem;width:100%" type="text" name="username" placeholder="user to invite" required>
                        <button class="btn">Create User Invite</button>
                    </div>
                </form>
            </div>
            <div class="window admin-window" style="width:30rem">
                <form method="post" action="/clearallinvites" name="clearallinvites">
                    <div class="display:flex;flex-direction:row">
                        <span>Invites</span>
                        <button type="submit" class="btn" name="clearallinvites">Clear All</button>
                    </div>
                </form>
                <sub>The invites that have been generated</sub><br>
                <table id="invite-table">
                    <thead>
                        <tr>
                            <td>Username</td>
                            <td>URL</td>
                            <td>Expires</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invite in invites %}
                        {% if invite[3] %}
                        <tr class="strikeout">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td>{{invite[0]}}</td>
                            <td>{{invite[1]}}</td>
                            <td>{{invite[2]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="window admin-window all-prompts" style="width:50rem">
            <span style="margin-bottom: 0.5em"><strong>All Prompts</strong></span>
            <ul>
            {% for prompt in prompts %}
            <li><span><i>{{prompt}}</i></span></li>
            {% endfor %}
            </ul>
            <form method="post" action="/admin">
                <div class="add-prompt">
                    <input type="text" name="prompt" placeholder="new prompt">
                    <button class="btn btn-default">Add Prompt</button>
                </div>
            </form>
        </div>
    </div>



    <script>
        init()

        function init() {
            
        }

        function changeGrid(n) {
            const options = {
                method: 'POST',
                body: JSON.stringify({"n": n})
            }
            fetch("/api/gridsize", options)
                .then(res => {
                    if (res.ok) {
                        document.getElementById("result").innerText = "Bingo Size Changed To "+n.toString()+"x"+n.toString()
                        // set the new choice on the front end
                        if (n === 3) {
                            document.getElementById("radio-3by3").setAttribute("checked", "true")
                            document.getElementById("radio-4by4").setAttribute("checked", "false")
                        } else {
                            document.getElementById("radio-3by3").setAttribute("checked", "false")
                            document.getElementById("radio-4by4").setAttribute("checked", "true")
                        }
                    }
                })
        
        
            }

        function startNewGame() {
            const options = {
                method: 'POST',
            }            
            fetch("/api/newgame", options)
                .then(res => {
                    if (res.ok) {
                        document.getElementById("result").innerText = "New Game Created Successfully"
                    }
                })
        }
    </script>
</body>
</html>