{% from 'macros/nav.html' import nav %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BitBingo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
    <link href="{{ url_for('static', path='home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='root.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='admin.css') }}" rel="stylesheet">
</head>
<body>

    {{ nav('admin') }}

    <div class="title-bar">
        <h1 class="title" id="result"></h1>
    </div>

    <div class="all-controls">
        <section class="left-controls">
            <div class="window admin-window" style="width:30rem">
                <div class="horizontal-inputs">
                    <button class="btn" onclick="startNewGame()">Start New Game</button>
                    <button class="btn" disabled>Reset Current Game</button>
                </div>
            </div>
            <div class="window admin-window" style="width:30rem">
                <div class="horizontal-inputs">
                    <button class="btn" disabled>Create User Invite</button>
                    <input type="text" name="username" disabled placeholder="user to invite">
                </div>
            </div>
        </section>
        <div class="window admin-window all-prompts" style="width:50rem">
            <span style="margin-bottom: 0.5em"><strong>All Prompts</strong></span>
            <ul>
            {% for prompt in prompts %}
            <li><span><i>{{prompt}}</i></span></li>
            {% endfor %}
            </ul>
            <form method="post" action="/admin">
                <div class="add-prompt">
                    <input type="text" name="prompt" placeholder="new prompt">
                    <button class="btn">Add Prompt</button>
                </div>
            </form>
        </div>
    </div>



    <script>
        function startNewGame() {
            const options = {
                method: 'POST',
            }            
            fetch("/api/newgame", options)
                .then(res => {
                    if (res.ok) {
                        document.getElementById("result").innerText = "New Game Created Successfully"
                    }
                })
        }
    </script>
</body>
</html>