<!DOCTYPE html>
<html lang="en">
<head>
    <title>BitBingo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
    <link href="{{ url_for('static', path='home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='root.css') }}" rel="stylesheet">
</head>
<body>

    <ul role="menu-bar" class="menu">
        <a role="menu-item" tabindex="0" href="/" class="menu-toggled">
            Home
        </a>
        <li role="menu-item" tabindex="0" aria-haspopup="true">
            Profile
            <ul role="menu">
            <li role="menu-item"><a href="#menu">Action</a></li>
            <li role="menu-item"><a href="#menu">Another Action</a></li>
            <li role="menu-item" class="divider"><a href="#menu">Something else here</a></li>
            <li role="menu-item"><a href="https://twitter.com/sakofchit">sakun's twitter</a></li>
            </ul>
        </li>
        <a role="menu-item" tabindex="0" href="/stats">
            Stats
        </a>
        <a role="menu-item" tabindex="0" href="/vote">
            Vote
        </a>
        {% if amIAdmin %}
        <a role="menu-item" tabindex="0" href="/admin">
            Admin
        </a>
        {% endif %}
    </ul>

    <section id="bingo-core-game">
        <div class="window" id="bingo-window" style="width:30rem">
            <div class="title-bar">
                <button aria-label="Close" class="close" onclick="clickButton()"></button>
                <h1 class="title">BitBingo</h1>
                <button aria-label="Resize" disabled class="hidden"></button>
            </div>
            <sub>Bingo for the week of {{ week }}. Will you be the winner?</sub>

            <div class="separator"></div>

            <div id="bingo-table">
                {% for prompt in prompts %}
                    {% if prompt[0] in completedPrompts %}
                        <div class="checked-prompt" id="prompt-{{prompt[0]}}" onclick="onCardClick({{prompt[0]}})">{{prompt[1]}}</div>
                    {% else %}
                        <div id="prompt-{{prompt[0]}}" onclick="onCardClick({{prompt[0]}})">{{prompt[1]}}</div>
                    {% endif %}
                {% endfor %}
            </div>

            <div id="bingo-action">
                <form action="/" method="post">
                    <input style="display:none" name="selected" id="selected" type="text" value="">
                    <button type="submit" class="btn" disabled id="submit-bingo-selection">Submit</button>
                </form>
            </div>
        </div>

        <div class="window" id="bingo-window" style="width:30rem">
            Welcome to BitBingo, the one and only BitProxima weekly Bingo game. Our prompts have been collated over the course of
            a few months, and more will be added as time passes.
            <br><br>
            To play, select prompts you've achieved for the week and above and submit them. You can do it all at once or one at a time.
            Once a team member reaches BINGO! (3 across any direction) they will be marked the victor. The game resets each week, have fun! 
            <br><br>
            <div class="separator"></div>
            <br>
            <div class="title-bar">
                <h1 class="title">Current Game Stats</h1>
            </div>
            {% if finished == "None" %}
                <p>Game Duration: <strong id="duration">72 hours, 32 minutes, 23 seconds</strong></p>
            {% else %}
                <p>Final Game Time: <strong id="duration">72 hours, 32 minutes, 23 seconds</strong></p>
            {% endif %}
            <p>Number of Prompts Completed (You): <strong>{{completedPrompts|length}}</strong></p>
            <p>Number of Prompts Completed (Team): <strong>{{teamComplete}}</strong></p>
            <p>Winner: <strong>{{winner}}</strong></p>
            <p hidden="true" id="clicker">Number of Clicks: <strong>0</strong></p>
            <br>
        </div>
    </section>

    
</body>
<script>
    var initial = {{completedPrompts}}
    var selectedIndexes = {{completedPrompts}}
    var numberOfClicksBatched = 0

    let numClicks = 0;

    const startingTime = new Date("{{started}}");

    function init() {
        isClickerHidden()
        handleTimeDifference()

        // get number of clicks from storage
        const numLSClicks = localStorage.getItem("click-game-"+"{{bingoId}}");
        if (numLSClicks !== null) {
            numClicks = parseInt(numLSClicks);
        }

        // sendClicksToBeBatched()

    }

    function sendClicksToBeBatched() {
        // no clicks, don't worry about it
        if (numberOfClicksBatched > 0) {
            const options = {
                method: 'POST',
                body: JSON.stringify({'clicks': numberOfClicksBatched, 'user_id': 1})
            }            
            fetch("/api/clicks", options)
                .then(res => res.json())
                .then(res => {
                    // reset number of clicks that are batched
                    numberOfClicksBatched = 0;
                })
        }

        setTimeout(sendClicksToBeBatched, 3000)
    }

    function isSubmitEnabled() {
        console.log(initial, selectedIndexes)
        if (arraysEqual(initial, selectedIndexes)) {
            disableSubmit()
        } else {
            enableSubmit()
        }
    }

    function isClickerHidden() {
        if (numberOfClicksBatched > 0) {
            document.getElementById("clicker").hidden = false
        } else {
            document.getElementById("clicker").hidden = true
        }
    }

    function handleTimeDifference() {
        let currentTime;
        {% if finished == "None" %}
            currentTime = new Date();
        {% else %}
            currentTime = new Date("{{finished}}");
        {% endif %}
        const msDiff = Math.abs(currentTime - startingTime);

        const diffSeconds = Math.floor(msDiff / 1000);
        const seconds = diffSeconds % 60;

        const diffMinutes = Math.floor(diffSeconds / 60);
        const minutes = diffMinutes % 60;

        const diffHours = Math.floor(diffMinutes / 60);
        const hours = diffHours;  // total hours

        const result = `${hours} hours, ${minutes} minutes, ${seconds} seconds`;
        document.getElementById('duration').innerText = result

        // do again in 1 second time
        setTimeout(handleTimeDifference, 1000)
    }

    function clickButton() {
        numClicks = numClicks + 1;
        numberOfClicksBatched = numberOfClicksBatched + 1;
        document.getElementById("clicker").lastChild.innerText = numClicks
        localStorage.setItem("click-game-"+"{{bingoId}}", numClicks)

        isClickerHidden();
    }

    function enableSubmit() {
        document.getElementById("submit-bingo-selection").removeAttribute("disabled")
    }
    function disableSubmit() {
        document.getElementById("submit-bingo-selection").setAttribute("disabled", "true")
    }

    function onCardClick(promptIndex) {
        try {
            idx = parseInt(promptIndex)
            pos = selectedIndexes.indexOf(idx)
            if (pos >= 0) {
                selectedIndexes.splice(pos, 1)
            } else {
                selectedIndexes.push(idx)
            }
            // stylistic changes
            if (selectedIndexes.includes(promptIndex)) {
                document.getElementById("prompt-"+promptIndex).classList.add("checked-prompt")
            } else {
                document.getElementById("prompt-"+promptIndex).classList.remove("checked-prompt")
            }

            // update the input
            document.getElementById("selected").value = selectedIndexes.toString();

            isSubmitEnabled()

        } catch (err) {
            console.error(err)
        }
    }

    function arraysEqual(a, b) {
        if (a === b) return true;
        if (a == null || b == null) return false;
        if (a.length !== b.length) return false;

        // If you don't care about the order of the elements inside
        // the array, you should sort both arrays here.
        // Please note that calling sort on an array will modify that array.
        // you might want to clone your array first.
        a.sort()
        b.sort()

        for (var i = 0; i < a.length; ++i) {
            if (a[i] !== b[i]) return false;
        }
        return true;
    }

    init()

</script>
</html>