{% from 'macros/nav.html' import nav %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BitBingo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
    <link href="/static/home.css" rel="stylesheet">
    <link href="/static/leaderboard.css" rel="stylesheet">
    <link href="/static/root.css" rel="stylesheet">
</head>
<body>

    {{ nav('leaderboard') }}

    <div class="window" id="bingo-window" style="width:20rem">
        <div class="title-bar">
            <h1 class="title">Points</h1>
        </div>
        <table id="leaderboard">
            {% for user in points %}
            <tr>
                <td>#{{loop.index}}</td>
                <td>{{user.username}}</td>
                <td>{{user.points}}</td>
                <td>points</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="window" id="bingo-window" style="width:20rem">
        <div class="title-bar">
            <h1 class="title">Games Won</h1>
        </div>
        <table id="leaderboard">
            {% for user in gamesWon %}
            <tr>
                <td>#{{loop.index}}</td>
                <td>{{user.username}}</td>
                <td>{{user.number_games_won}}</td>
                <td>games</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>