{% from 'macros/nav.html' import nav %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BitBingo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
    <link href="{{ url_for('static', path='home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='root.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='profile.css') }}" rel="stylesheet">
</head>
<body>
    {{ nav('profile') }}

    {% if alert is defined %}
    <div class="title-bar">
        <h1 class="title" id="result">{{alert}}</h1>
    </div>
    {% endif %}

    <section style="display:flex">
        <div class="window prof-window" style="width:25em;height:60vh">
            <!-- <div class="title"> -->
                <h1 class="title">Profile</h1>
            <!-- </div> -->
            <div class="hoz-inputs">
                <input id="userid" type="number" name="userid" value="{{user.id}}" disabled>
                <label for="userid">ID</label>
            </div>

            <div class="hoz-inputs">
                <input id="username" type="text" name="username" value="{{user.username}}" disabled>
                <label for="username">Username</label>
            </div>
            
            <div class="hoz-inputs">
                <input id="numgameswon" type="number" name="numgameswon" value="{{user.number_games_won}}" disabled>
                <label for="numgameswon">Number of Games Won</label>
            </div>

            <div class="hoz-inputs">
                <input id="numpoints" type="number" name="numpoints" value="{{user.points}}" disabled>
                <label for="numpoints">Number of Points</label>
            </div>

            <div class="hoz-inputs">
                <input id="datejoined" type="text" name="datejoined" value="{{user.created_at.strftime("%d/%m/%Y")}}" disabled>
                <label for="datejoined">Date joined</label>
            </div>
            <sub><i>Profile Picture</i></sub>
            <br>
            <img src="{{profImgUrl}}" id="user-profile-photo">
            <form name="changeprofpicture" method="post" action="/updatepicture">
                <div style="display:flex;flex-direction:column;gap:10px">
                    <input type="text" name="pictureUrl" placeholder="new profile picture url" required>
                    <button type="submit" class="btn">Change Profile Picture</button>
                </div>
            </form>
        </div>
        <form method="post" action="/changepassword" name="changepassword">
            <div class="window prof-window" style="width:30em;height:18h">
                <h1 class="title">Change Password</h1>
                <div style="display:flex;flex-direction:column;gap:10px">
                    <input type="password" name="current" placeholder="current password" required>
                    <input type="password" name="new" placeholder="new password" required>
                    <button class="btn" type="submit">Change Password</button>
                </div>
            </div>
        </form>
    </section>
</body>
</html>