<!DOCTYPE html>
<html lang="en">
<head>
    <title>BitBingo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
    <link href="{{ url_for('static', path='home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='root.css') }}" rel="stylesheet">
</head>
<body>

    <ul role="menu-bar" class="menu">
        <a role="menu-item" tabindex="0" href="/">
            Home
        </a>
        <li role="menu-item" tabindex="0" aria-haspopup="true">
            Profile
            <ul role="menu">
            <li role="menu-item"><a href="#menu">Action</a></li>
            <li role="menu-item"><a href="#menu">Another Action</a></li>
            <li role="menu-item" class="divider"><a href="#menu">Something else here</a></li>
            <li role="menu-item"><a href="https://twitter.com/sakofchit">sakun's twitter</a></li>
            </ul>
        </li>
        <a role="menu-item" tabindex="0" href="/stats">
            Stats
        </a>
        <a role="menu-item" tabindex="0" aria-haspopup="true" href="/vote" class="menu-toggled">
            Vote
        </a>
    </ul>
</body>
</html>